:root {
  --primary-color: #252b3b;
  --text-color: #333;
  --text-muted: #dfdfdf;
}

label {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
}

.offcanvase-backdrop-visible {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.no-caret .dropdown-toggle::after,
.no-caret .dropdown-toggle::before {
  display: none !important;
}
